<div class="diba-baner">
    <div class="diba-baner-title">
        Starterkit Diputació de Barcelona
    </div>
    <img alt="Escut de la Diputació de Barcelona" src="/build/img/logos/escut.svg" class="img-escut">
</div>