<div class="bg-gris p-4 mb-4">
    <div class="row align-items-center">
        <div class="col-lg-2 text-end d-lg-block d-none border-end border-white border-2">
            <img src="/build/img/pictos/contacte.png" alt="Contacte" class="logo-lg d-block m-auto">
        </div>
        <div class="col-auto">
            <div class="fw-semibold">Àrea, servei o oficina</div>
            <div>Dades de contacte, telèfon o correu electrònic</div>
            <div>xxx xx xx xx</div>
            <div>
                <a href="https://twitter.com/Diba" title="Twitter de la Diputació de Barcelona" target="_blank"><img src="/build/img/xarxes/x.svg" alt="Twitter de la Diputació de Barcelona" class="logo-sm"></a>
                <a href="https://www.youtube.com/user/Diba" title="Youtube de la Diputació de Barcelona" target="_blank"><img src="/build/img/xarxes/youtube.svg" alt="Youtube de la Diputació de Barcelona" class="logo-sm"></a>
                <a href="https://www.tiktok.com/@diputaciobarcelona" title="TikTok Diputació de Barcelona" target="_blank"><img src="/build/img/xarxes/tiktok.svg" alt="TikTok Diputació de Barcelona" class="logo-sm"></a>
            </div>
        </div>
        <div class="col text-md-end">
            <img src="/build/img/logos/logo-producte.jpg" alt="logo producte" class="logo-lg">
        </div>
    </div>
</div>