<div class="row my-3">
    <div class="col-12 col-md-6 col-lg-4">
        <div>
            <a href="https://diba.cat/avislegal" class="me-3">Avís legal</a>
            <a href="https://diba.cat/accessibilitat" class="me-3">Accessibilitat</a>
            <a href="https://diba.cat/mapa-web">Mapa web</a>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
        <address>Diputació de Barcelona. Rambla de Catalunya, 126. 08008 Barcelona. Tel. 934 022 222</address>
    </div>
</div>