<div class="row">
    <div class="d-none d-md-block col-md-4">
        <a href="https://diba.cat">
            <img src="/build/img/logos/diba.svg" alt="Diputació de Barcelona" class="logo-md">
        </a>
    </div>
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="list-group list-group-flush">
                    <div class="list-group-item fw-semibold border-0 d-none d-md-block">Institució</div>
                    <a href="" class="list-group-item list-group-item-action">La Diputació de Barcelona</a>
                    <a href="" class="list-group-item list-group-item-action">Recintes</a>
                    <a href="" class="list-group-item list-group-item-action border-bottom">Contacte</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="list-group list-group-flush">
                    <div class="list-group-item fw-semibold border-0 d-none d-md-block">Actualitat</div>
                    <a href="" class="list-group-item list-group-item-action">Diari de la Diba</a>
                    <a href="" class="list-group-item list-group-item-action">Els nostres butlletins</a>
                    <a href="" class="list-group-item list-group-item-action border-bottom">Comunitats de pràctica</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="list-group list-group-flush">
                    <div class="list-group-item fw-semibold border-0 d-none d-md-block">Directori</div>
                    <a href="" class="list-group-item list-group-item-action">Directori de contacte</a>
                    <a href="" class="list-group-item list-group-item-action">Directori de xarxes socials</a>
                    <a href="" class="list-group-item list-group-item-action border-bottom">Directori d'apps</a>
                </div>
            </div>
        </div>
    </div>
</div>
