<div class="row">
    <div class="col-12">
        <a href="https://www.facebook.com/DiputaciodeBarcelona" title="Facebook de la Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/facebook.svg" alt="Facebook de la Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://twitter.com/Diba" title="Twitter de la Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/x.svg" alt="Twitter de la Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://www.youtube.com/user/Diba" title="Youtube de la Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/youtube.svg" alt="Youtube de la Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://instagram.com/dibacat" title="Instagram de la Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/instagram.svg" alt="Instagram de la Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://www.linkedin.com/company/348352" title="LinkedIn de la Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/linkedin.svg" alt="LinkedIn de la Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://www.tiktok.com/@diputaciobarcelona" title="TikTok Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/tiktok.svg" alt="TikTok Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://t.me/diputaciobarcelona" title="Telegram Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/telegram.svg" alt="Telegram Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
        <a href="https://www.threads.net/@dibacat" title="Threads Diputació de Barcelona" target="_blank">
            <img src="/build/img/xarxes/threads.svg" alt="Threads Diputació de Barcelona" class="mr-1 logo-sm">
        </a>
    </div>
</div>
